@using Markdig
@inject Service<Doc> DocService
@inject IMapper Mapper
@inject NavigationManager Nav
@inject DocEvents DocEvents

<EditForm Model="editDoc" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h1>@Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">

            <div class="form-group">
                <label>Title</label>
                <input @bind="editDoc.Title" class="form-control"/>
                <ValidationMessage For="@(() => editDoc.Title)" />
            </div>

            <div class="form-group">
                <label>Url</label>
                <input @bind="editDoc.Url" class="form-control"/>
                <ValidationMessage For="@(() => editDoc.Url)" />
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea rows="10" @bind="editDoc.Content" class="form-control"/>
                <ValidationMessage For="@(() => editDoc.Content)" />
            </div>

            <button class="btn btn-primary btn-block mb-3" type="submit">Submit</button>
        </div>

        <div class="col-md-6 col-xs-12 mb-3">
            <label>Preview</label>
            <DocMarkdown Doc="editDoc"></DocMarkdown>
        </div>

    </div>
</EditForm>

@code {
    [Parameter] public DocDto Value { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string Title { get; set; }
    private DocDto editDoc = new DocDto();
    private bool isNew = true;

    private string Preview => Markdown.ToHtml(editDoc.Content ?? "");

    protected override void OnInitialized()
    {
        if (Value != null)
        {
            editDoc = Value;
            isNew = false;
        }
    }

    private async void HandleSubmit()
    {
        if (isNew)
        {
            var newDoc = await DocService.Add(Mapper.Map<Doc>(editDoc));
            DocEvents.NewDoc(Mapper.Map<DocDto>(newDoc));
        }
        else
        {
            await DocService.Update(Mapper.Map<Doc>(editDoc));
            DocEvents.UpdateDoc(editDoc);
        }

        Nav.NavigateTo($"docs/{editDoc.Url}");
    }
}