@inject Service<Doc> DocService
@using Markdig

<EditForm Model="newDoc" OnValidSubmit="HandleSubmit">
    
    <div class="row">
        <div class="col-6">
            <h1>New document</h1>
        </div>

        <div class="col-6">
            <h1>Preview</h1>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label>Title</label>
            <input @bind="newDoc.Title" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label>Content</label>
            <textarea @bind="newDoc.Content" class="form-control"/>
        </div>

        <div class="col-6">
            <div class="card">
                @((MarkupString) Preview)
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

@code {

    [Parameter] public EventCallback OnValidSubmit { get; set; }
    private Doc newDoc = new Doc();

    private string Preview => Markdown.ToHtml(newDoc.Content ?? "");

    private async void HandleSubmit()
    {
        await DocService.Add(newDoc);
        newDoc = new Doc();
    }
}