@using Markdig
@using Markdig.Syntax.Inlines

<div class="card">

    <div class="card-header">
        @Doc.Title
    </div>

    <div class="card-body">
        @((MarkupString) Preview())
    </div>

</div>

@code {

    [Parameter] public DocDto Doc { get; set; }

    private string Preview()
    {
        var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .UseBootstrap()
            .UseEmojiAndSmiley()
            .Build();

        return Markdown.ToHtml(Doc.Content ?? "", pipeline);
    }
}