@page "/docs/{Url}"
@inject DocService DocService
@using Markdig

<div class="row">
    <div class="col">
        <h1>@doc.Title</h1>
    </div>
    <div class="col">
        <a href="docs/edit/@Url">
            Edit
        </a>
    </div>
</div>

<div class="row">
    
    <div class="col">
        @((MarkupString) Preview)
    </div>
</div>


@code {
    [Parameter] public string Url { get; set; }

    private Doc doc = new Doc();

    private string Preview => Markdown.ToHtml(doc.Content ?? "");

    protected override async Task OnInitializedAsync()
    {
        doc = (await DocService.Get(Url));
    }
}