@page "/doc/{Id:int}"
@inject Service<Doc> DocService
@using Markdig

<h1>@doc.Title</h1>

<div class="row">
    <div class="col-6">
        <textarea @bind="doc.Content"
            class="form-control"
            bind-value:event="onchange"></textarea>
    </div>
    
    <div class="col-6">
        @((MarkupString) Preview)
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }

    private Doc doc = new Doc();

    private string Preview => Markdown.ToHtml(doc.Content);

    protected override async Task OnInitializedAsync()
    {
        doc = (await DocService.Get(Id));
    }
}