@page "/docs/{Url}"
@using Markdig
@inject DocService DocService
@inject NavigationManager Nav

<div class="row mb-2">
    <div class="col-md-3 col-xs-6 mb-1">
        <PrimaryButton CssClass="btn-block" @onclick="Edit">Edit</PrimaryButton>
    </div>
    <div class="col-md-2 col-xs-2">
        <button class="btn btn-danger btn-block" @onclick="Delete">Delete</button>
    </div>
</div>

<div class="card">
    <div class="card-header">
        @doc.Title
    </div>
    <div class="card-body">
        @((MarkupString) Preview)
    </div>
</div>



@code {
    [Parameter] public string Url { get; set; }

    private Doc doc = new Doc();

    private string Preview => Markdown.ToHtml(doc.Content ?? "");

    protected override async Task OnInitializedAsync()
    {
        doc = (await DocService.Get(Url));
    }

    private void Edit() => Nav.NavigateTo($"docs/{doc.Url}/edit");
    private async void Delete()
    {
        await DocService.Delete(doc.Id);
        Nav.NavigateTo("docs");
    }
}