@page "/docs"
@inject NavigationManager Nav


<div class="row mb-4">
    <div class="col">
        <button class="btn btn-outline-primary" @onclick="NewDoc">
            Add new document
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <DocList />
    </div>
</div>

@code {
    private void NewDoc() => Nav.NavigateTo("docs/new");
}