@page "/docs/{Url}"
@using Markdig
@inject DocService DocService
@inject NavigationManager Nav
@inject IMapper Mapper

<div class="row mb-2">
    <div class="col-md-3 col-xs-6 mb-1">
        <button class="btn btn-outline-primary btn-block" @onclick="Edit">Edit</button>
    </div>
    <div class="col-md-2 col-xs-2">
        <button class="btn btn-outline-danger btn-block" @onclick="ConfirmDelete">Delete</button>
    </div>
</div>

<DocMarkdown Doc="doc"></DocMarkdown>

<ConfirmDialog @ref="confirmDelete"
    Title="Confirm
    deletion"
    ShowBackdrop="true"
    ConfirmationChanged="OnConfirmationChangedDelete">
    Are you sure you want to delete this document?
</ConfirmDialog>

@code {
    [Parameter] public string Url { get; set; }

    private DocDto doc = new DocDto();
    private ConfirmDialog confirmDelete;

    private string Preview => Markdown.ToHtml(doc.Content ?? "");

    protected override async Task OnInitializedAsync()
    {
        doc = Mapper.Map<DocDto>((await DocService.Get(Url)));
    }

    private void Edit() => Nav.NavigateTo($"docs/{doc.Url}/edit");
    
    private void ConfirmDelete() => confirmDelete.Show();

    private void OnConfirmationChangedDelete(bool confirmed)
    {
        if (confirmed)
        {
            Delete();
        }
    }

    private async void Delete()
    {
        await DocService.Delete(doc.Id);
        Nav.NavigateTo("docs");
    }
}