@page "/"
@using Server.Pages.Docs
@inject Service<Doc> DocService

<h1>Hello, world!</h1>

<DocForm OnValidSubmit="@(() => StateHasChanged())"/>

<DocList Docs="docs"/>

@code {

    private List<Doc> docs = new List<Doc>();
    

    protected override async Task OnInitializedAsync()
    {
        docs = (await DocService.GetAll());
    }
}